*.log
*.pot
*.pyc
local_settings.py
*.DS_Store

# Editor backup files
*~
*#

# Django's SQL Lite Database File
db.sqlite3

*.sublime-workspace
*.sublime-project

# user profile pics
/pictures/*

*.pem
secrets.txt
secrets.sh

# virtualenv
venv

staticfiles

