body {
  padding-top: 50px;
}

.my-brand {
  font-family: 'Lobster', cursive;
  font-size: 200%;
  color: #5CE6E6;
  font-weight: normal;
}

.pad-left {
  padding-left: 10px;
}

.profile-pic img {
  border-radius:50%;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-top: 0px;
}

.small-profile-pic img {
  border-radius:50%;
    width: 84px;
    height: 84px;
    margin-right: 10px;
    margin-top: 0px;
}

.centered-content {
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}
.form-signin, .form-register{
  max-width: 330px;
  padding: 10px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox,
.form-register .checkbox {
  font-weight: normal;
}
.form-signin .form-control,
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus,
.form-register .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-register input {
	margin-bottom: 10px;
}

.posts-list {
    list-style: none;  
    padding: 0;
}
.posts-list li {
    margin:0;
    margin-top:10px;
}

.posts-list li > div {
    display:table-cell;
}

.posts-list .post-img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.posts-list img {
    border-radius:50%;
    width: 84px;
    height: 84px;
    margin-right: 10px;
    margin-top: 0px;
}

.posts-list .post-text {
  vertical-align: top;
}
.posts-list p {
    margin: 0;
}

.posts-list span {
    font-size: .8em; 
    color: #aaa;
}

.comments-list {
    list-style: none;  
    padding: 0;
}
.comments-list li {
    margin:0;
    margin-top:10px;
}

.comments-list li > div {
    display:table-cell;
}

.comments-list img {
    border-radius:50%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    margin-top: 0px;
    vertical-align: top;
}

.comments-list p {
    margin: 0;
}

.comments-list span {
    font-size: .8em; 
    color: #aaa;
}

#post-form form {
  padding-left:0;
  padding-right:0;
}



#sidebar.affix {
    top: 80px;
}
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #548A90;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #548A90; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

/* fix for target links scrolling too far */
.section {
  padding-top:40px;
  margin-top:-40px;
}
.subsection {
  padding-top:40px;
  margin-top:-40px;
}