{% extends "socialnetwork/stream_ajax_base.html" %}

{% block stream_header %}
{% for error in errors %}
  <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
        {{ error }}
  </div>
{% endfor %}



{% if profile_user %}

<div style="margin-top:10px"></div>
<div class="media">

<div class="media-body">

<h1 style="margin-top: 0">{{profile_user.username}}</h1>

<p>{{profile_user.first_name}} {{profile_user.last_name}}</p>
<p>{{profile_user.email}}</p>



{% if profile_user.userprofile.age %}
<p><strong>Age: </strong>{{profile_user.userprofile.age}}</p>
{% endif %}

{% if profile_user.userprofile.bio %}
<p><strong>Bio: </strong>{{profile_user.userprofile.bio | linebreaks}}</p>
{% endif %}

<p>
{% if already_following %}
<a href="{% url 'unfollow' profile_user.username %}" class="btn btn-default btn-sm" >Unfollow</a>
{% else %}
<a href="{% url 'follow' profile_user.username %}" class="btn btn-default btn-sm" >Follow</a>
{% endif %}

{% if user.username == profile_user.username %}
<a href="{% url 'edit_profile' %}" class="btn btn-default btn-sm" >Edit</a>
{% endif %}
</p>


{% endif %}
</div>

{% if profile_user.userprofile.picture_url%}
<div class="media-left  profile-pic">
<img class="media-object" src="{{profile_user.userprofile.picture_url}}" width="300px">
</div>
{% endif %}
</div>

{% if profile_user %}
<script>posts_url = "{% url 'get_user_posts' profile_user '0000' %}";</script>
<script>posts_prev_url = "{% url 'get_user_posts_prev' profile_user '0000' %}";</script>
{% else %}
<script>posts_url = "#";</script>
<script>posts_prev_url = "#";</script>
{% endif %}

{% endblock %}


{% block nav_profile_active %}
{% if profile_user.username == user.username %}
class="active"
{% endif %}
{% endblock %}
