{% extends "socialnetwork/base.html" %}

{% block content %}
<style type="text/css" media="screen">
    #code-editor{
      height: 450px;
    }

    #json-editor{
      height: 450px;
    }
  </style>



<h1>Scripts</h1>

<form action="{% url 'scripts' %}" id="script-form" method="POST">
{% for field,errors in form.errors.items %}
{% if field != '__all__' %}
<div class="alert alert-danger" role="alert">
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class="sr-only">Error:</span>
      {{ field }}
      {{ errors }}
</div>
{% endif %}
{% endfor %}

{% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class="sr-only">Error:</span>
      {{ error }}
</div>
{% endfor %}


<div class="form-group col-md-6">
  <label for="code-field">{{ form.code.label }}</label>
  <input type="hidden" 
    id="code-field" 
    class="form-control" 
    name="{{ form.code.html_name }}" 
  >

  <pre id="code-editor">{{form.code.value}}</pre>
</div>

<div class="form-group col-md-6">
  <label for="json-field">{{ form.data.label }}</label>
  <input type="hidden" 
    id="json-field" 
    class="form-control" 
    name="{{ form.data.html_name }}" 
  >
  <pre id="json-editor">{{form.data.value}}</pre>
</div>

<div class="form-group">
<label for="{{ form.on_post.id_for_label }}">on_post</label> {{form.on_post}}
</div>

{% csrf_token %}

<button type="submit" class="btn btn-primary">Save</button>
</form>





{% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js"></script>
<script src="{% static "socialnetwork/js/scripting.js" %}"></script>

{% endblock %}

{% block nav_scripts_active %}class="active"{% endblock %}